div {
    border-style: inset;
    text-align: center;
    height: 550px;
    width: 400px;
    align-self: center;
    font-family: courier;
    align-content: center;
    background-color: rgb(88, 140, 140);
    position: relative;
    left: 35%;
}
h1{
    margin-top: 0%;
    padding-top: 35px;
    border-bottom: solid black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgb(78, 121, 121);
    
}
body{
    background-color: antiquewhite;
}

input,
label,
select {
    margin-bottom: 10px;
    text-align: center;
}
label{
    color: rgb(7, 7, 7);
}